<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Questions
      <small><%= link_to "Add New", new_question_path, class: 'btn btn-default' %></small>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% if @questions.blank? %>
          <tr class="blank-slate">
            <td colspan="8">
              <p>No Data<br/>Please add new question</p>
            </td>
          </tr>
        <% end %>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.title %></td>
            <td>
              <%= link_to question do %>
                <%= glyph "info-sign" %>
              <% end %>
              <%= link_to edit_question_path(question) do %>
                <%= glyph "pencil" %>
              <% end %>
              <%= link_to question_path(question), :method => :delete, :data => { :confirm => "Are you sure?" }, :title => "Delete" do %>
                <%= glyph "remove" %>
              <%- end -%>
              <%= link_to "Answer", try_to_answer_questions_path(id: question.id) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>