<!DOCTYPE html>
<html>
<head>
  <title>QuizMaster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Quiz Master", root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <%= bootstrap_flash %>
  <%= yield %>
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Quiz Master 2016</p>
      </div>
    </div>
    <!-- /.row -->
  </footer>
</div>

</body>
</html>
